<h1>a <%= @poem.noun %> fades <%= @poem.adverb %>.<br/>
<%= @poem.pluralnoun %> <%= @poem.verb %> like a <%= @poem.adjective%> <%= @poem.plant %>. <br/>
a <%= @poem.noun%> will never <%= @poem.verb %>.</h1>