<div class='col-xs-12 col-xs-offset-1 poem'>
  <h1>
  <%= @poem.pluralnoun %> fade like a <%= @poem.adjective%> <%= @poem.plant %>, <br/>
a <%= @poem.noun%> will never <%= @poem.verb %> <%= @poem.pluralnoun %> <%=@poem.adverb%>.
</h1>
</div>